datasets/expert_dbCRW_AND_entry_typeSequence_10by10.bak
datasets/expert_dbCRW_AND_entry_typeSequence_10by10.dir
datasets/expert_dbCRW_AND_entry_typeSequence_10by10.dat
datasets/expert_dbCRW_AND_entry_typeSequence_20by20.bak
datasets/expert_dbCRW_AND_entry_typeSequence_20by20.dir
datasets/expert_dbCRW_AND_entry_typeSequence_20by20.dat
tmp
results
plots
print_graph.py
ViennaRNA-2.5.1